%head
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :rel => "stylesheet"}/
  %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

%body
  %header
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "/"}
            %img{:alt => "Brand", :src => "/images/twitter.png"}  
              %ul.nav.nav-pills.nav-justified
        - if logged_in? 
          %a.btn.btn-default.navbar-btn{:type => "button",:href => "/tweets"}
            Tweets
          %a.btn.btn-default.navbar-btn{:type => "button",:href => "/twittermens"}
            Twittermens
          %a.btn.btn-default.navbar-btn{:type => "button",:href => "/logout"}
            Log out
        - else 
          %a.btn.btn-default.navbar-btn{:type => "button",:href => "/login"}
            Log in
  - if flash[:notice]
    .alert.alert-success{:role => "alert"}
      = flash[:notice]
  - if flash[:error]
    .alert.alert-danger{:role => "alert"}
      = flash[:error]
  = yield

  %footer
    Twitter​ ​ Monitoring​ ​ Application Twitter​ ​ Monitoring​ ​ Application Twitter​ ​ Monitoring​ ​ Application Twitter​ ​ Monitoring​ ​ Application Twitter​ ​ Monitoring​ ​ Application